@page "/"

@using BlazerApp.Data;
@inject IFoodService foodService;

<div>
    @foreach(var food in foodService.GetFoods()){ 
        <div>@food.Name</div>
        <div>@food.Price</div>
    }
</div>

@code{
}
