@page "/"

@using BlazerApp.Data;

<div>
    @foreach(var food in _foodService.GetFoods()){ 
        <div>@food.Name</div>
        <div>@food.Price</div>
    }
</div>

@code{
    IFoodService _foodService = new FastFoodService();
}
