
@using BlazerApp.Data;

<p>
    Users : <b>@Users.Count()</b>
</p>

<br />

<ul class="list-group">
    @foreach (var user in Users) {
        <li @key="user" class="list-group-item">
            @*<button type="button" class="btn btn-link" @onclick="(()=> KickUser(user))">Kick</button>*@
            <label>@user.Name</label>
        </li>
    }
</ul>

@code {
    [Parameter]
    public List<UserData> Users { get; set; }
}
