<p>
    Users : <b>@_users.Count()</b>
</p>

<br />

<ul class="list-group">
    @foreach (var user in _users) {
        <li @key="user" class="list-group-item">
            <button type="button" class="btn btn-link" @onclick="(()=> KickUser(user))">Kick</button>
            <label>@user.Name</label>
        </li>
    }
</ul>

@code {

}
