@page "/JSInterop"
@inject IJSRuntime JSRuntime

<h3>JSInterop</h3>

<div>
    <button type="button" class="btn btn-primary" @onclick="HelloWorld">
        Hello World
    </button>
</div>

@code {
    public async void HelloWorld()
    {
        await JSRuntime.InvokeVoidAsync("testFunction.helloWorld", null);
    }
}
